<h1>ORIGINAL LIQUID file.</h1>

{% schema %}
{
  "name": "original",
  "settings": [],
  "enabled_on": {
    "templates": ["list-collections", "index", "product", "collection", "search"]
  }
}
{% endschema %}
